########################
# Terraform
########################
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

########################
# Environment files
########################
*.env
.env

########################
# Node / Angular
########################
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

########################
# Java / Spring Boot
########################
target/
*.class
*.jar
*.war
*.ear

########################
# IDE / OS
########################
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

########################
# Docker
########################
*.pid

########################
# Secrets
########################
*.pem
*.key
*.crt

