containers:
  - name: springboot
    image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
    imagePullPolicy: {{ .Values.image.pullPolicy }}
    ports:
      - containerPort: 8080

    env:
      - name: SPRING_DATASOURCE_URL
        value: "jdbc:mysql://{{ .Values.mysql.host }}:{{ .Values.mysql.port }}/{{ .Values.mysql.database }}"
      - name: SPRING_DATASOURCE_USERNAME
        value: root
      - name: SPRING_DATASOURCE_PASSWORD
        value: ""

    command:
      - sh
      - -c
      - |
        export SPRING_DATASOURCE_PASSWORD=$(cat /mnt/secrets/{{ .Values.keyVault.secrets.rootPassword }});
        exec java -jar app.jar

    volumeMounts:
      - name: secrets-store
        mountPath: /mnt/secrets
        readOnly: true
