name: CD - Deploy to AKS using Helm

on:
  workflow_run:
    workflows: ["CI - Build and Push Images to ACR"]
    types:
      - completed

env:
  AKS_RG: aks-dev-rg
  AKS_NAME: aks-dev

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        run: |
          az aks get-credentials \
            --resource-group $AKS_RG \
            --name $AKS_NAME \
            --admin

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Deploy MySQL
        run: helm upgrade --install mysql ./helm/mysql

      - name: Deploy Spring Boot
        run: |
          helm upgrade --install springboot ./helm/springboot \
            --set image.tag=${{ github.event.workflow_run.head_sha }}

      - name: Deploy Angular
        run: |
          helm upgrade --install angular ./helm/angular \
            --set image.tag=${{ github.event.workflow_run.head_sha }}
