name: CI - Build and Push Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:   

env:
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login --name ${{ secrets.ACR_LOGIN_SERVER }}

      - name: Build & Push Spring Boot
        run: |
          docker build -t $ACR_LOGIN_SERVER/spring-crud:$IMAGE_TAG ./SpringCRUD
          docker push $ACR_LOGIN_SERVER/spring-crud:$IMAGE_TAG

      - name: Build & Push Angular
        run: |
          docker build -t $ACR_LOGIN_SERVER/angular-crud:$IMAGE_TAG ./AngularCRUD
          docker push $ACR_LOGIN_SERVER/angular-crud:$IMAGE_TAG
